.idea
.DS_Store
utils_functions*
__pycache__
*.pick
*.pt
*.csv
*.pyc
.vscode
*.zip
*.log
*.tsv
!importdata2mysql.py
_giikin*
matgoodsinfo_*
AliOpenKG_*
matgoodsinfo_goodsfeatures*
utils_functions.py
functions.py

# 文件夹大数据
bigfiles/
nercodebasetplinker_/results


#datagiikin/bigfiles_new/中国
#datagiikin/bigfiles_new/匈牙利
#datagiikin/bigfiles_new/卡塔尔
#datagiikin/bigfiles_new/台湾
#datagiikin/bigfiles_new/摩洛哥
#datagiikin/bigfiles_new/新加坡
#datagiikin/bigfiles_new/日本
#datagiikin/bigfiles_new/沙特阿拉伯
#datagiikin/bigfiles_new/波兰
#datagiikin/bigfiles_new/泰国
#datagiikin/bigfiles_new/澳大利亚
#datagiikin/bigfiles_new/科威特
#datagiikin/bigfiles_new/罗马尼亚
#datagiikin/bigfiles_new/美国
#datagiikin/bigfiles_new/菲律宾
#datagiikin/bigfiles_new/越南
#datagiikin/bigfiles_new/阿曼苏丹国
#datagiikin/bigfiles_new/阿联酋
#datagiikin/bigfiles_new/韩国
#datagiikin/bigfiles_new/香港
#datagiikin/bigfiles_new/马来西亚